/* ResetCSS | v2.0 | 20110126
http://meyerweb.com/eric/tools/css/reset/ 
License: none (public domain)*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Para el Index.*/
/* Body es transversal a las páginas.*/
body {
  background-color: #000000;
  color: #aaaaaa;
  font-family: "Roboto Slab", serif;
}

/* Header es transversal a las páginas. */
header {
  margin-bottom: 5%;
}

.logo {
  width: 8%;
  height: auto;
  padding: 1%;
  display: inline-block;
  vertical-align: middle;
}

.title {
  font-size: 50px;
  font-weight: 900;
  padding: 1% 10% 1% 25%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.navbar {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  top: 15%;
  left: 28%;
}

nav span {
  display: inline-block;
  text-transform: uppercase;
  background-color: #aaaaaa;
  color: black;
  margin: 5px;
  padding: 4px;
  border: solid #aaaaaa 0.5px;
  border-radius: 25px;
  transition: 1s background;
}

nav span:visited {
  background-color: #aaaaaa;
  color: #444444;
  cursor: pointer;
}

nav span:hover {
  background-color: #1c6ea4;
  cursor: pointer;
}

nav span:active {
  background-color: #dddddd;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

nav a:hover {
  color: black;
}

nav a:active {
  color: #1c6ea4;
}

nav a {
  text-decoration: none;
  display: inline-block;
  color: #444444;
}

/*Cuerpo del home, sólo aplica a Home*/
#banner {
  width: 100%;
  height: auto;
}

#utensilios {
  width: 30%;
  margin: 7%;
  display: inline-block;
} 

.content {
  width: 40%;
  font-size: 28px;
  font-weight: 400;
  margin: 7%;
  vertical-align: top;
  text-align: right;
  line-height: 1.5;
  display: inline-block;
}

.guimero {
  font-weight: 900;
}

#mision {
  color: #1c6ea4;
  font-style: italic;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 0 5%;
  padding: 5%;
}

#elegirnos {
  color:#1c6ea4;
  font-size: 40px;
  font-weight: 700;
  padding: 5px;
}

.itemlist {
  font-size: 30px;
  text-align: left;
  font-weight: 500;
  padding: 5px;
  line-height: 1.5;
}

.itemDiferencial:before {
  content: "✂️";
}

#diferencial {
  width: 45%;
  margin: 0 5%;
  display: inline-block;
} 

#videoMapContainer {
  text-align: center;
  margin: 5%;
}

#videoContainer {
  display: inline-block;
}
#mapContainer {
  margin-left: 10%;
  display: inline-block;
}

.font2 {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.font3 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin: 1.5% 0 3% 0;
}

#video {
  width: 550px;
  height: 550px;
}

#mapa {
  width: 550px;
  height: 550px;
}

/* Footer es transversal a las páginas. */
footer {
  margin: 2.5% 0;
  text-align: center;
}

.logoFooter {
  width: 5%;
  height: auto;
}

/* Para cards en Products.*/
.cardContainer {
  text-align: center;
}

.card {
  background-color: #ffffff;
  border: 5px #1c6ea4 solid;
  border-radius: 6%;
  color: #000000;
  width: 22%;
  height: auto;
  display: inline-block;
  text-align: center;
  padding: 2%;
  margin: auto 2%;
  box-sizing: content-box;
  transition: 0.5s transform;
}

.cardTitle {
  font-size: 30px;
  font-weight: 700;
}

.cardDescription {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.cardPrice {
  font-size: 25px;
  font-weight: 500;
}

.card:hover {
  background-color: #ffffff;
  border: Solid 10px #1c6ea4;
  color: #000000;
  border-radius: 6%;
  padding: 2%;
  cursor: pointer;
  transform: scale(1.1);
  transform: rotateY(360deg);
  transition: 2s transform;
}

.card:hover h2 {
  font-size: 40px;
  font-weight: 900;
}

#colorimetria {
  font-size: 28px;
  font-weight: 500;
  padding: 2%;
  color:#1c6ea4;
}

/* Para formulario en Contact Us.*/

.contact {
  font-size: 20px;
  font-weight: 400;
  width: 30%;
  display: inline-block;
  text-align: left;
  position: absolute;
  top: 200px;
  left: 200px;
}

#nombreApellido,
#email,
#celular,
#consulta,
#fecha,
#hora,
#desplegable {
  display: block;
  width: 300px;
  height: 30px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #444444;
  color: #ffffff;
}

.button {
  width: 25%;
  height: auto;
  margin: 5px;
  padding: 1.5px 3px;
  border: solid #aaaaaa 1px;
  border-radius: 25px;
  font-size: 25px;
  font-weight: 500;
  background-color: #aaaaaa;
  color: black;
  transition: 1s background;
}

.button:hover {
  background-color: #1c6ea4;
  color: #cccccc;
  cursor: pointer;
}

.button:active {
  background-color: #cccccc;
  color: #1c6ea4;
  cursor: pointer;
}

/* Para tabla en Contact us. */

table {
  width: 25%;
  padding: 2px;
  border: 2px solid #dddddd;
  background-color: #aaaaaa;
  color: #1c6ea4;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 210px;
  right: 200px;
}

thead {
  background-color: #1c6ea4;
  color: #aaaaaa;
  font-size: 30px;
}

th,
td {
  padding: 22.5px;
  border: 2px solid #dddddd;
  font-size: 25px;
}

#contactUsImg {
  width: 80%;
  height: auto;
  margin: 0 10%;
}

/* Para cards en Proffesionals (Us).*/
.profTitle, #workTitle {
  color:#1c6ea4;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  padding-left: 200px;
  vertical-align: middle;
} /* Aplica a ourWork*/

#inspirational {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  padding: 2%;
  margin: 1.5% 0;
  font-style: italic;
}

#mainAuthor {
  font-style: italic;
  text-align: right;
  font-size: 30px;
  font-weight: 400;
  vertical-align: middle;
  padding-right: 200px;
}

.profContainer {
  margin-top: 2%;
  text-align: center;
}

.prof {
  background-color: #111111;
  border: 5px #1c6ea4 solid;
  border-radius: 24px;
  color: #aaaaaa;
  width: 20%;
  height: 650px;
  display: inline-block;
  text-align: center;
  padding: 1%;
  box-sizing: content-box;
  transition: 2s transform;
}

.profName {
  font-size: 30px;
  font-weight: 700;
  color:#1c6ea4;
  padding: 1%;
  margin-bottom: 3%;
}

.usImage {
  width: 75%;
  height: auto;
}

.profSpeciality {
  color:#1c6ea4;
  font-size: 20px;
  font-weight: 500;
  padding: 3%;
  margin-bottom: 10px;
}

.profQuote {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  line-height: 1.25;
}

.author {
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
}

.prof:hover {
  background-color: #cccccc;
  border: Solid 5px #1c6ea4;
  color: #000000;
  padding: 2%;
  cursor: pointer;
  transform: scale(1.025);
  transition: 2s transform;
}

.prof:hover h2 {
  font-size: 40px;
  font-weight: 900;
}

#ourRoots {
  margin: 2%;
}

.history {
  text-transform: initial;
  text-align: justify;
  padding: 1%;
  line-height: 1.1;
}

/*Para Our Work*/
#workQuote {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  padding: 2%;
  margin: 1.5% 0;
}

.workArt {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  padding: 2%;
  margin: 1.5% 0;
}



/*GRID!!*/

#hairWorkGrid {
  width: 1495px;
  height: 1745px;
  background-color: #000000;
  /*padding: 10px;*/
  display: grid;
  gap: 5px;
  grid-template-columns: 375px 375px 375px 375px;
  grid-auto-rows: 345px;
  grid-template-areas:
    "A D F K"
    "A E F L"
    "B E G M"
    "C I H M"
    "C J H N";
}

#A {
  width: 370px;
  height: 690px;
  border: black solid 5px;
  object-fit: cover;
  border-radius: 25px;
  grid-area: A;
}

#B {
  width: 370px;
  height: 345px;
  border: black solid 5px;
  object-fit: cover;
  border-radius: 25px;
  grid-area: B;
}

#C {
  width: 370px;
  height: 690px;
  border: black solid 5px;
  object-fit: cover;
  border-radius: 25px;
  grid-area: C;
}

#D {
  width: 370px;
  height: 345px;
  border: black solid 5px;
  object-fit: cover;
  border-radius: 25px;
  grid-area: D;
}

#E {
  width: 370px;
  height: 690px;
  border: black solid 5px;
  object-fit: cover;
  border-radius: 25px;
  grid-area: E;
}

#F {
  width: 370px;
  height: 690px;
  border: black solid 5px;
  object-fit: cover;
  border-radius: 25px;
  grid-area: F;
}

#G {
  width: 370px;
  height: 345px;
  border: black solid 5px;
  object-fit: cover;
  border-radius: 25px;
  grid-area: G;
}

#H {
  width: 370px;
  height: 690px;
  border: black solid 5px;
  object-fit: cover;
  border-radius: 25px;
  grid-area: H;
}

#I {
  width: 370px;
  height: 345px;
  border: black solid 5px;
  object-fit: cover;
  border-radius: 25px;
  grid-area: I;
}

#J {
  width: 370px;
  height: 345px;
  border: black solid 5px;
  object-fit: cover;
  border-radius: 25px;
  grid-area: J;
}

#K {
  width: 370px;
  height: 345px;
  border: black solid 5px;
  object-fit: cover;
  border-radius: 25px;
  grid-area: K;
}

#L {
  width: 370px;
  height: 345px;
  border: black solid 5px;
  object-fit: cover;
  border-radius: 25px;
  grid-area: L;
}

#M {
  width: 370px;
  height: 690px;
  border: black solid 5px;
  object-fit: cover;
  border-radius: 25px;
  grid-area: M;
}

#N {
  width: 370px;
  height: 345px;
  border: black solid 5px;
  object-fit: cover;
  border-radius: 25px;
  grid-area: N;
}



